header h1{
    position: relative;
    left: 44%;
    
    font-size: 40px;
    
}

section{
     background-color: gray;
      width: 600px;
      height: 800px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
}