header h1{
    position: relative;
    left: 44%;
    font-size: 40px;
    
}

section{
     background-color: gray;
      width: 600px;
      height: 800px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
}
.res{
    width: 200px;
    height: 30px;
    background: rgb(235, 235, 235);
    position: relative;
    top: 18%;
    left: 65%;
    text-align: right;
    line-height: 35px;
    border-radius: 10px;
}
div label{
    background: none;
    font-weight: bold;
    font-size: 18px;
}
.operandos{
       background: none;
        margin-top: 90px;
        
           
}
input{

    padding: 5px;
    outline: none;
}
.btn-img{
    background: none;
    position: relative;
    top: 10%;
    left: 15%;
    
}
img{
    margin-right: 120px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}