header{
    text-align: center;
    height: 120px;
}
section{
    width: 1200px;
    height: 600px;
    background: grey;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}
img{
    width: 100px;
    height: 100px;
    background: none;
    display: none;
    position: relative;
    outline: none;
}
button{
    display: none;
    position: relative;
    top: 15px;
    left: 44%;
    /* transform: translate(-50%); */
}
p{
    background: none;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
span{
    color: rgb(248, 235, 215)   ;
    background: none;
}
em{ 
     background: none;
     color: rgb(39, 248, 78)  
}
::selection{
    background: none; 
}
@media screen and (max-height:780px){
        header{
            height: 50px;
        }
        header h1{
            line-height: 50px;
        }
        section{        
            top: 7%;  
        }   
}