header h2{
    display: inline-block;
    position: relative;
    left: 29%;
    background: none;
    color: blanchedalmond;
    font-size: 30px;
    font-size: 34px
}
span{
    background: none;
    color: #69E781
}
#gun{
    width: 80px;
}
#rede{
    float: right;
    width: 100px;
    margin-top: 25px;
    background: none;
    
}
aside{
   display: inline-block;
   position: absolute;
   top: 40%;
   
}
aside nav a{
    display: block;
    background-color: antiquewhite;
    padding: 7px;
    margin-top: 5px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    border-radius: 20px;   
   
}
aside p{
    margin-top: 20px;
    font-size: 20px;
}
section{
    width: 700px;
    height: 500px;
    background-color: grey;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

section h2{
       text-align: center; 
}
aside nav a:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 6px black;
}
audio{
    outline: none;
    margin-top: 5px;
}
p{
    margin-left: 5px;
}
#musicas{
    position: absolute;
    left: 78%;
    bottom: 39%;
}
