header h2{
    display: inline-block;
    position: relative;
    left: 29%;
    background: none;
    color: blanchedalmond;
    font-size: 30px;
    font-size: 34px
}
span{
    background: none;
    color: #69E781
}
#gun{
    width: 80px;
}
#guizao{
    float: right;
    width: 100px;
    height: 140px;
    background: none;   
}
aside{
   display: inline-block;
   position: absolute;
   top: 40%; 
}
aside nav a{
    display: block;
    background-color: antiquewhite;
    padding: 7px;
    margin-top: 8px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    border-radius: 20px;     
}
aside p{
    margin-top: 20px;
    font-size: 20px;
}
section{
    width: 730px;
    background-color: grey;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
section h2{
       text-align: center; 
}
aside nav a:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 6px rgb(255, 216, 157);
}
audio{
    outline: none;
    margin-top: 5px;
    margin-bottom: 20px;
}
p{
    margin-left: 5px;
}
#musicas{
    position: absolute;
    left: 79%;
    bottom: 18%;
}
.foto-container{
    width: 200px;
    height: 210px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 12px;
}
.foto{
    width: 200px;
    height: 200px;
}
figcaption{
    text-align: center;
    font-weight: bold;
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    position: absolute;
    top: 105%;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
}
/* // RESPONSIVO */
@media screen and (max-height:900px){

header{
    height: 120px;
}   
#guizao{
    height: 110px;
}
#musicas{
    position: absolute;
    left: 78%;
    bottom: 15%;
}
section{
   top: 18%;
   width: 630px;
 }
 .foto-container{
    width: 170px;
    height: 170px;
 }
 .foto{
    width: 170px;
    height: 160px;
 }
 footer{
     top: 115%;
 }
}   /* media */ 
@media screen and (max-height:600px){



}