span{
    background: none;
    color: #69E781
}
#gun{
    width: 80px;
}
#fotos{
    float: right;
    width: 100px;
    height: 140px;
    background: none;   
    margin-right: 5px;
}
.foto-fig{
    width: 100px;
    height: 140px;
    background: none;
    display: none;
}
aside{
   display: inline-block;
   position: absolute;
   top: 40%; 
}
aside nav a{
    display: block;
    background-color: antiquewhite;
    padding: 7px;
    margin-top: 8px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    border-radius: 20px;     
}
aside p{
    margin-top: 20px;
    font-size: 20px;
}
section{
    width: 690px;
    background-color: grey;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
section h2{
       text-align: center; 
}
aside nav a:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 6px rgb(255, 216, 157);
}
audio{
    outline: none;
    margin-top: 5px;
    margin-bottom: 20px;
}
p{
    margin-left: 5px;
}
#musicas{
    position: absolute;
    left: 78%;
    bottom: 10%;
}
.foto-container{
    width: 170px;
    height: 180px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 12px;
}
.foto{
    width: 170px;
    height: 170px;
}
figcaption{
    text-align: center;
    font-weight: bold;
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    position: absolute;
    top: 110%;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
}
/* // RESPONSIVO */
@media screen and (min-height:762px) and (max-height:850px){

    header{
        height: 130px;
    }
    #fotos{
        height: 120px;         
    }
    .foto-fig{
        height: 120px; 
    }
    #musicas{
        bottom: 5%;
        left: 75%;
    }  
    .foto-container{
        width: 130px;
        height: 150px;
    }
    .foto{
        width: 130px;
        height: 140px;
    }

    section{
        width: 550px;
        top: 22%;
    }
    audio{
        width: 250px;
        height: 50px;
        margin-top: 3px;
        margin-bottom: 15px;
    }
}
@media screen and (max-height:761px){
    header{
        height: 120px;
    }
    #fotos{
        height: 118px;         
    }
    .foto-fig{
        height: 118px; 
    }
    #musicas{
        bottom: 3%;
        left: 72%;
    } 
    .foto-container{
        width: 115px;
        height: 120px;
        margin-left: 35px;
    }
    .foto{
        width: 115px;
        height: 115px;
    }
    section{
        width: 500px;
        top: 20%;
        left: 48%;
    }
    audio{
        width: 240px;
        height: 45px;
        margin-top: 3px;
        margin-bottom: 15px;
    }
}
